<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
<div class="container-fluid" style="height: 150px; background-color: #B1B2FF;">

</div>
<div class="container">
    <div class="row">
        <form action="save" method="post">
            <div class="col-12">
                <input type="text" name="id" hidden>
                <div class="mb-3">
                    <label class="form-label">Client Name</label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                            name="clientId">
                        <option value="-1" selected>Select Client</option>
                        <option th:each="client : ${clientList}" th:value="${client.id}"
                                th:text="${client.name+' '+client.lastname}"/>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Product Name</label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                            name="productId">
                        <option value="-1" selected>Select Product</option>
                        <option th:each="product : ${productList}" th:value="${product.id}"
                                th:text="${product.name+' : '+product.label+' '+product.model}"/>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Quantity</label>
                    <input type="text" class="form-control" name="quantity">
                </div>
                <div class="mb-3">
                    <label class="form-label">Price</label>
                    <input type="text" class="form-control" name="price">
                </div>
                <div class="mb-3">
                    <label class="form-label">Total Price</label>
                    <input type="text" class="form-control" name="total">
                </div>

            </div>
            <div class="col-12 mb-2 ">
                <div class="d-grid gap-2 mt-3">
                    <button type="submit" class="btn btn-success btn-block">New Record</button>
                    <button type="submit" class="btn btn-danger">Save</button>

                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
            <tr class="table-primary">
                <th>Id</th>
                <th>Client Name</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Price</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sales,inter :${salesList}">
                <td><label th:text="${sales.id}"/></td>
                <td><label th:text="${sales.clientName}"/></td>
                <td><label th:text="${sales.productName}"/></td>
                <td><label th:text="${sales.quantity}"/></td>
                <td><label th:text="${sales.price+'₺'}"/></td>
                <td><label th:text="${sales.total+'₺'}"/></td>
                <td><label th:text="${sales.createdDate}"/></td>
                <td>
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-edit">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                    <a href="#" class="btn btn-danger" onclick="recordDelete()">
                        <i class="fa-solid fa-eraser"></i>
                    </a>
                </td>

            </tr>

            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <div class="mb-3">
                        <label class="form-label">Client Name</label>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                name="clientId">
                            <option value="-1" selected>Select Client</option>
                            <option th:each="client : ${clientList}" th:value="${client.id}"
                                    th:text="${client.name+' '+client.lastname}"/>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Product Name</label>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                name="productId">
                            <option value="-1" selected>Select Product</option>
                            <option th:each="product : ${productList}" th:value="${product.id}"
                                    th:text="${product.name+' : '+product.label+' '+product.model}"/>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Quantity</label>
                        <input type="text" class="form-control" name="quantity">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Price</label>
                        <input type="text" class="form-control" name="price">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Total Price</label>
                        <input type="text" class="form-control" name="total">
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
    function recordDelete() {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Deleted!',
                    'Sales data has been deleted.',
                    'success'
                )
            }
        })
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>
